@charset 'UTF-8';

@import url("font-awesome.min.css");


#recuo{

    position:absolute;

}
body {
    background:#fff url(../images/bg_body.gif) repeat-x;
    font:80% Trebuchet MS, Arial, Helvetica, Sans-Serif;
    //color:#333;
    line-height:180%;
    margin:0;
    padding:0;
    text-align:center;

    font-size: 11pt;


}

input,textarea,select
{



    line-height: 1.75em;
    font-size: 12pt;
}
h1{
    line-height: 1.75em;
    font-size: 12pt;
    line-height: 1.25em;	
    font-size:180%;

    margin:0;
    padding:3px 20px;
}
h2{
    font-size:160%;
    font-weight:normal;
}	
h3{
    font-size:140%;
    font-weight:normal;
}	
img{border:none;}
pre{
    display:block;
    font:12px "Courier New", Courier, monospace;
    padding:10px;
    border:1px solid #bae2f0;
    background:#e3f4f9;	
    margin:5em 0;
    width:800px;
}	

/* image replacement */
.graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
    margin:0;
    padding:0;
    display:block;
    overflow:hidden;
    text-indent:-9000px;
}
/* // image replacement */

#container{	
    margin:0 auto;
    position:relative;
    text-align:left;
    width:1200px;
    height:295px;
    background:#fff;
    padding-bottom: 1em;
    margin-bottom:1px;
    margin-right: -5.5em;




}	
#header{
    height:30px;
    line-height:30px;
    background:#5DC9E1;
    color:#fff;
}
#header3{
    padding: 20px;    
    height:40px;
    line-height:30px;
    background:#5DC9E1;
    width:80%;
    color:#fff;
    margin:0  auto;
    text-align: center;
}
#header4{
    padding: 10px;    
    height:40px;
    line-height:30px;
    width:100%;
    margin-bottom: 35%;
    color:#fff;
    text-align: left;
background: -moz-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(93,133,156,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
background: linear-gradient(14deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#5D859C',GradientType=0 ); /* ie6-9 */
}
#header5{
    padding-left:-18px;    
    height:0px;
    line-height:20px;
    width:100%;
   
    color:#fff;
    text-align: center;
background: -moz-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(93,133,156,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
background: linear-gradient(14deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#5D859C',GradientType=0 ); /* ie6-9 */
}

#info{
   line-height:15px;
    border:solid 6px cornflowerblue;
    width:56%;
    height:60.4%;
    position:absolute;
    float:right;
    text-align: center;
    margin:4% 2.7% 3.6% 29.8%;
    padding-left: 20px;
    background: -moz-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(93,133,156,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(76deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
background: linear-gradient(14deg, rgba(93,133,156,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#5D859C',GradientType=0 ); /* ie6-9 */
  
    
  
   
    
}
#titulo{
    height:50px;
    line-height:40px;
    background:#5DC9E1;
    color:#fff;
    position:relative;
}
#content{
    position:relative;

}			

/* Easy Slider */

#slider ul, #slider li,
#slider2 ul, #slider2 li{
    margin:0;
    padding:0;
    list-style:none;
}
#slider2{margin-top:1em;}
#slider li, #slider2 li{ 
    /* 
            define width and height of list item (slide)
            entire slider area will adjust according to the parameters provided here
    */ 
    width:1200px;
    height:270px;
    overflow:hidden;

}	
#prevBtn, #nextBtn,
#slider1next, #slider1prev{ 
    display:block;
    width:30px;
    height:77px;
    position:absolute;
    left:-30px;
    top:100px;
    z-index:1000;
}	
#nextBtn, #slider1next{ 
    left:960px;
}														
#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a{  
    display:block;
    position:relative;
    width:306px;
    height:77px;
    background:url(../images/btn_prev.gif) no-repeat 0 0;	
}	
#nextBtn a, #slider1next a{ 
    background:url(../images/btn_next.gif) no-repeat 0 0;	
}	

/* numeric controls */	

ol#controls{
    position:relative;
    margin:1em 18em 3em  37%;
    padding:10px;
    height:17px;	
}
ol#controls li{
    margin:0 5px 0 0; 
    padding-left:15px;
    float:left;
    list-style:none;
    height:29px;
    line-height:28px;
}
ol#controls li a{
    float:left;
    height:28px;
    line-height:28px;
    border:1px solid #ccc;
    background:#DAF3F8;
    color:#555;
    padding:0 15px;
    text-decoration:none;
}
ol#controls li.current a{
    background:#5DC9E1;
    color:#fff;
}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}


#centro{
    display: block; margin: 0 auto; 
    width:38%;
}
/* // Easy Slider */